@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    margin: 0;
    top: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
   margin-left: 10px;

}
#main-LOGO{
    margin-left: 45%;
}
.container h1{
    margin-left: 37px;
    margin-top: 30px;
}
#accordion{
    width: 700px;
    margin: 0;
}
#accordion li{
    list-style: none;
    margin-left: inherit;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    background-color: #b3b3b3;
}
#accordion li label{
    position:relative;
    font-size: 20px;
    align-items:center;
    font-weight: bold;
    cursor: pointer;
    padding:10px;
}
label::after{
    content: "+";
    font-size: 30px;
    font-weight: 700;
    position: absolute;;
    left: 600px;
    margin-top: -5px;

}
label:hover{
    color:black;
    transition: 0.5s;
    font-weight: bolder;

}
input[type="radio"]{
    display:none;
}
#accordion  .content{
    color:white;
    line-height: 15px;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
#accordion input[type="radio"]:checked +label+.content{
    max-height: 200px;
    padding: 10px 10px;
}
#accordion input[type="radio"]:checked +label::after{
   transform: rotate(45deg);
}
